@font-face {
    font-family: 'DM Sans 9pt';
    src: local('DM Sans 9pt Regular'), local('DMSans-9ptRegular'),
        url('DMSans-9ptRegular.woff2') format('woff2'),
        url('DMSans-9ptRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

